<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Analysis" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.4604" newVersion="2.0.0.4604" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DesignScriptBuiltin" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DSCoreNodes" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.4604" newVersion="2.0.0.4604" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoCore" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoServices" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoUnits" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoUtilities" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProtoCore" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProtoGeometry" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.8195" newVersion="2.6.0.8195" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.0.0.0" newVersion="21.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VMDataBridge" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.8236" newVersion="2.7.0.8236" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPIUI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.0.0.0" newVersion="21.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
